# list

- collection of elements with different  datatypes

In [2]:
my_list = ['mamta','python',1,2,3,5]
my_list

['mamta', 'python', 1, 2, 3, 5]

**indexing**

- positions of elements

In [3]:
my_list[2]

1

In [4]:
my_list[1]

'python'

In [5]:
my_list[0],my_list[-1]

('mamta', 5)

**operations in list**

In [7]:
print(my_list)
#pop operation
my_list.pop()
print(my_list)

['mamta', 'python', 1, 2, 3, 5]
['mamta', 'python', 1, 2, 3]

In [9]:
print(my_list)
#append operation
my_list.append('tutorial')
print(my_list)

['mamta', 'python', 1, 2, 3]
['mamta', 'python', 1, 2, 3, 'tutorial']

In [16]:
#remove opeartion
my_list.remove(2)
print(my_list)

ValueError: list.remove(x): x not in list

# tuples
- tuple is similar to list
- it is immutable- you cannot modify data

In [17]:
my_tup = ('mamta','harish',1.2,3,5,6)
my_tup

('mamta', 'harish', 1.2, 3, 5, 6)

In [18]:
#indexing
my_tup[0]

'mamta'

In [19]:
my_tup[0] = 5

TypeError: 'tuple' object does not support item assignment

# dictionaries

In [23]:
#            key    value 
my_dict = {'name':['mamta','mamm','nhgf'],'age':[20,65,87],'designation':['ds','juh','ku']}
my_dict

{'name': ['mamta', 'mamm', 'nhgf'],
 'age': [20, 65, 87],
 'designation': ['ds', 'juh', 'ku']}

In [24]:
#       key
my_dict['name']

['mamta', 'mamm', 'nhgf']

In [26]:
my_dict.keys()

dict_keys(['name', 'age', 'designation'])

In [27]:
my_dict.items()

dict_items([('name', ['mamta', 'mamm', 'nhgf']), ('age', [20, 65, 87]), ('designation', ['ds', 'juh', 'ku'])])

# creating table

In [28]:
import pandas

In [29]:
table = pandas.DataFrame(my_dict)
table

    name  age designation
0  mamta   20          ds
1   mamm   65         juh
2   nhgf   87          ku